/* 
    Document   : style_one
    Created on : May 21, 2013, 9:07:10 PM
    Author     : gxlzlihao
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

h3 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
    width: 450px;
}

a:link {
    color: #be7429;
    font-weight: normal;
    text-decoration: none;
}

a:link:hover {
    color: #be7429;
    font-weight: normal;
    text-decoration: underline;
}
